.list-title {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    list-style: none;
    margin-top: 1em;
}

.list-item {
    font-size: 16px;
    margin-top:1em;
    margin-left: 2em;
    line-height: 30px;
    list-style: none;
}

.list-item a{
  color:#264ec4
}

.list-date{
  margin-right: 1em;

}

.article-list{
  margin-top: 4em;
}

.tag-list{
  margin: 2em;
}

.post-top {
    margin-top: 5em;
}

.post{
  margin: 2em;
}

/*need edit*/
.header-top {
    margin-top: 4em;
}

.body-style {
    background-color: #EEEEEE;
}

.menu-top {
    margin-top: 4em;
}



.red-color {
    background-color: #FFFFFF;
    /*padding-left: 2em;*/
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.ul-style {
    list-style: none;
}

.footer {
    background-color:#233B6C;

}

.foot-text-center {
    text-align: center;
    color:#ffffff;
}

/*begin nav style*/
.navbar-custom {
    background-color:#233B6C;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #333;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    /*background-color: #DDD;*/
    color: #333;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #CCC;
}
/*end nav style*/
