<div class="navbar navbar-custom navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-sm" href="{{site.baseurl}}/index.html">零切骑士团</a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.baseurl}}/index.html">首页</a></li>
            <li><a href="{{site.baseurl}}/blog/">博客</a></li>
            <li><a href="{{site.baseurl}}/categories/">目录</a></li>
            <li><a href="{{site.baseurl}}/tags/">标签</a></li>
            <li><a href="{{site.baseurl}}/books/">书单</a></li>
              <li><a href="{{site.baseurl}}/api/">api速查</a></li>
            <li><a href="{{site.baseurl}}/pdf/">pdf</a></li>
            <li><a href="{{site.baseurl}}/about/">关于</a></li>
          </ul>
        </div>
      </div>
    </div>
