---
layout: default
---

<div class="article-list">
    {% for post in paginator.posts %}
        <article class="post">

    		  <header>
    		  <h2><a href="{{ root_url }}{{post.url}}" title="{{ post.title }}" target="_blank">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}{% if post.external-url %}&nbsp;&rarr;{% endif %}</a></h2>
    		  </header>
          <div class="date">
      		<span class="list-date text-muted" >{{ post.date | date: "%Y-%m-%d" }}</span>
      		</div>
    		<div class="con">
    		  {{ post.excerpt }}
    		  <footer class="text-right">
    			<a rel="nofollow" href="{{ post.url }}" target="_blank" >更多..</a>
    		  </footer>
    		</div>
    	</article>
    {% endfor %}

  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous"><a href="{{paginator.previous_page_path}}"><b>&laquo; Prev</b></a></li>
      {% else %}
      <li class="previous disabled"><a href="#"><b>&laquo; 上一页</b></a></li>
      {% endif %}
      <li><a rel="nofollow" href="{{ site.baseurl}}{{site.archive_dir}}"><b>博客目录</b></a></li>
      {% if paginator.next_page %}
      <li class="next"><a href="{{paginator.next_page_path}}"><b>Next &raquo;</b></a></li>
      {% else %}
      <li class="next disabled"><a href="#"><b>下一页 &raquo;</b></a></li>
      {% endif %}
  </ul>
</div>
