<!DOCTYPE html>
<html>
{% include aigisHead.html %}

<body class="body-style">
    <div class="container">
        <div class="row">
            {% include aigisHeader.html %}
        </div>

        <!-- <div class="row post-top" id="today">Loading</div>
        <div class="row panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAll" aria-expanded="true" aria-controls="collapseOne">
              全部每日复刻一览<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </a>
          </h4>
            </div>
            <div id="collapseAll" class="display-none panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel panel-default article">
                    <div class="panel-body">
                        <div id="allDaily" class="data-content"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="nisuoyin">
        </div>

        <div>关于本速查工具用作千年战争查询银狗粮素材掉落使用，因为现在每日复刻在循环一次之后，
          最后一次会添加一个新的复刻。所以如果没来得及更新资料的话会有1日的误差，请自己换算一下。可以去贴吧找我更新，贴吧ID：箭亡</div>
        <div>最后一次修改于 2017-03-24日</div> -->

                    {{ content }}
    </div>
</body>

</html>

<!-- <script>
$(function(){
    $("img").addClass("img-responsive center-block");
    $(".article").mouseover(function(){
			$(this).css({"box-shadow":'5px 5px 20px #6C6969'});
		});
		$(".article").mouseout(function(){
			$(this).css({'box-shadow':"5px 5px 20px #A7A3A3"});
		});
})
</script> -->
