<!DOCTYPE html>
<html>
{% include head.html %}

<body class="body-style">
    <div class="container">
        <div class="row">
            {% include aigisheader.html %}
        </div>
        <div class="row post-top col-md-10 col-md-offset-1">
            <div class="panel panel-default article">
                <div class="panel-body">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    <!-- {% include footer.html %} -->
</body>

</html>
<script>
$(function(){
    $("img").addClass("img-responsive center-block");
    $(".article").mouseover(function(){
			$(this).css({"box-shadow":'5px 5px 20px #6C6969'});
		});
		$(".article").mouseout(function(){
			$(this).css({'box-shadow':"5px 5px 20px #A7A3A3"});
		});
})
</script>
