---
layout: default
---

{% assign year  = '' %}

<ul class="article-list">
    {% for post in site.posts %}
    {% assign date = post.date | date: "%Y" %}

        {% if year != date %}
            {% assign year = date %}
            <li class="list-year"> {{year}} </li>
        {% endif%}

        <li class="list-item">
            <span class="list-date" >{{ post.date | date: "%Y-%m-%d" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
  </ul>
  <div>
  <p>browse <a href="https://github.com/{{ site.github_site_repo }}" target="_blank">source on GitHub</a>.</p>

  </div>
