---
layout: default
---

<!-- {% assign year  = '' %}
<div class="article-list">
<ul>
    {% for post in site.posts %}
    {% assign date = post.date | date: "%Y" %}

        {% if year != date %}
            {% assign year = date %}
            <li class="list-title"> {{year}} </li>
        {% endif%}

        <li class="list-item">
            <span class="list-date text-muted" >{{ post.date | date: "%Y-%m-%d" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
  </ul>
</div> -->

<h1>welcome to lingqie qishituan!!</h1>
<image src="images/WhiteTiger.jpg">
