---
layout: default
---

<div>
    <div class="page-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        {% if page.date %}
          日期:<span class="list-date text-muted" >{{ page.date | date: "%Y-%m-%d" }}</span>
        {% endif %}
          {% if page.author %} 作者:
            <span class="text-muted">{{ page.author }}</span>
          {% else %} 作者:
            <span class="text-muted">{{ site.author }}</span>
          {% endif %}
    </div>
    <div>

        {{ content }}
    </div>
    <div>
      {% if page.categories %}
      目录为 <a href="{{site.baseurl}}/categories/#{{page.categories|first}}">{{ page.categories|first}}</a>
      {% endif %}

    {% if page.tags.size>0 %}
      标签为
        {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags/#{{tag}}">{{ tag }}</a>
        {%endfor%}
      {% endif %}
    </div>
</div>
